ul.social-network{
    list-style: none;
    
    padding: 0%;
}

ul.social-network li{
 display: inline;   
 margin: 0;
padding: 5px;
}

.fa{
    font-size: 35pt;
    color: whit;
    padding: 10px;
}

.fa-facebook-official:hover{
    color: #636e72;
}

.fa-instagram:hover{
    color: #636e72;
}

.fa-linkedin-square:hover{
    color: #636e72;
}