<nav class="navbar navbar-expand-lg navbar-info bg-info">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav ml-auto d-flex align-items-center">
      <li class="nav-item active">
        <!-- img-fluid deixa a imagem responsiva-->
        <img src="{{foto}}" alt="foto do user" width="90px" height="90px" class="img-fluid rounded-circle m-3">
      </li>

      <!--Aqui ficará o nome do usuário-->
      <li class="nav-item pl-10">
        <!-- descobrir pq font-weight-bold não funciona-->
        <p class="m-4 font-weight-bold text-uppercase fs-16">Olá, {{nome}}</p>
      </li>

      <li class="nav-item pl-10">
        <!--a tag a transforma em um link-->
        <a href="">
          <p class="text-uppercase fs-16 m-0"> <i class="fa fa-pencil-square-o " aria-hidden="true"></i></p>
        </a>
       
      </li>
    </ul>

    <ul class="navbar-nav m-auto d-flex align-items-center">
      <li class="nav-item pl-10">
        <!-- descobrir pq font-weight-bold não funciona e pq não consigo colocar lá no canto direito -->
        <a (click)='sair()' class="m-4 font-weight-bold fs-16" >Sair <i class="fa fa-sign-out" aria-hidden="true"></i></a>
       
      </li>
    </ul>
   
  </div>
</nav>