#img-bg{
    background-image: url("../../assets/imagem/8fee36bf950557ff9f896b9104f36907_bolo-vulcao-brigadeiro-receitas-nestle.jpg");
    min-height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}